<div class="row text-center row__with_border row-flex align-middle">
  <div class="col col-xs-2">
  </div>
  <div class="col col-xs-3 align-middle">
    <div class="inner_block">
      <%= @currency.currency_from.currency_code %>
    </div>
  </div>
  <div class="col col-xs-2 col-image">
    <%= image_tag('exchange.jpg', alt: 'exchange') %>
  </div>
  <div class="col col-xs-3">
    <div class="inner_block">
      <%= @currency.currency_to.currency_code %>
    </div>
  </div>
  <div class="col col-xs-2">
  </div>
</div>
<div class="row text-center">
  <span class="fb_rate_value">
    <%= number_to_currency(@currency.rate, unit: "") %>
    <% if @currency.currency_to.sign %>
      <%= @currency.currency_to.sign %>
    <% else %>
      <%= @currency.currency_to.currency_code[0] %>
    <% end %>
  </span>
</div>
<div class="row text-center row_update_information_text">
  <span>This information will update at <%= @currency.updated_at %></span>
</div>
